body {
    margin: 0;
}
nav {
    display: block;
}
a:active, a:hover {
    outline: 0;
}
b {
    font-weight: 700;
}
img {
    border: 0;
}
button, input {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    cursor: pointer;
    overflow: visible;
    text-transform: none;
}
button[disabled], html input[disabled] {
    cursor: default;
}
th {
    padding: 0;
}
.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.glyphicon-music:before {
    content: "\e002"}
.glyphicon-search:before {
    content: "\e003"}
.glyphicon-user:before {
    content: "\e008"}
.glyphicon-th:before {
    content: "\e011"}
.glyphicon-th-list:before {
    content: "\e012"}
.glyphicon-ok:before {
    content: "\e013"}
.glyphicon-remove:before {
    content: "\e014"}
.glyphicon-off:before {
    content: "\e017"}
.glyphicon-home:before {
    content: "\e021"}
.glyphicon-time:before {
    content: "\e023"}
.glyphicon-download-alt:before {
    content: "\e025"}
.glyphicon-download:before {
    content: "\e026"}
.glyphicon-list-alt:before {
    content: "\e032"}
.glyphicon-lock:before {
    content: "\e033"}
.glyphicon-flag:before {
    content: "\e034"}
.glyphicon-tag:before {
    content: "\e041"}
.glyphicon-font:before {
    content: "\e047"}
.glyphicon-text-width:before {
    content: "\e051"}
.glyphicon-align-center:before {
    content: "\e053"}
.glyphicon-list:before {
    content: "\e056"}
.glyphicon-share:before {
    content: "\e066"}
.glyphicon-check:before {
    content: "\e067"}
.glyphicon-forward:before {
    content: "\e075"}
.glyphicon-remove-sign:before {
    content: "\e083"}
.glyphicon-ok-sign:before {
    content: "\e084"}
.glyphicon-info-sign:before {
    content: "\e086"}
.glyphicon-share-alt:before {
    content: "\e095"}
.glyphicon-eye-open:before {
    content: "\e105"}
.glyphicon-comment:before {
    content: "\e111"}
.glyphicon-link:before {
    content: "\e144"}
.glyphicon-flash:before {
    content: "\e162"}
.glyphicon-open:before {
    content: "\e167"}
.glyphicon-transfer:before {
    content: "\e178"}
.glyphicon-sd-video:before {
    content: "\e186"}
.glyphicon-hd-video:before {
    content: "\e187"}
.glyphicon-cd:before {
    content: "\e201"}
.glyphicon-king:before {
    content: "\e211"}
.glyphicon-queen:before {
    content: "\e212"}
.glyphicon-apple:before {
    content: "\f8ff"}
.glyphicon-scale:before {
    content: "\e230"}
.glyphicon-text-color:before {
    content: "\e242"}
.glyphicon-text-background:before {
    content: "\e243"}
.glyphicon-menu-down:before {
    content: "\e259"}
* {
	