body {
    font-family: 'Volkhov', serif;
}

.op{
    margin-left: 200px;
    margin-right: 200px  ;
}
p {
    font-size: 22px;
    font-family:'Volkhov', serif;
}

.heading_title {
    font-size: 40px;
  }